<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508085494044-d61igiu84fhcl2bfuv2cenrvvbbj4hs2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508085494044-d61igiu84fhcl2bfuv2cenrvvbbj4hs2</string>
	<key>API_KEY</key>
	<string>AIzaSyCcNwme1j0q9MUmSxM9Yf2nR9_DY8W9FW8</string>
	<key>GCM_SENDER_ID</key>
	<string>508085494044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dgha</string>
	<key>PROJECT_ID</key>
	<string>dgha-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dgha-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508085494044:ios:dd457278ebb4f681f1dad9</string>
	<key>DATABASE_URL</key>
	<string>https://dgha-app.firebaseio.com</string>
</dict>
</plist>